<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>teamID</key>
	<string>3FLBWA2Q74</string>
	<key>compileBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>iOS Distribution</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>org.potok.PotokVPN</key>
		<string>798414b4-09e0-46c3-a1de-f0f63677b980</string>
		<key>org.potok.PotokVPN.network-extension</key>
		<string>cad7ccf3-2140-410c-a4af-766ea64d3276</string>
	</dict>
</dict>
</plist>