[Unit]
Description=PotokVPN Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/PotokVPN/service/PotokVPN-service.sh
Environment=LD_LIBRARY_PATH=/opt/PotokVPN/client/lib

[Install]
WantedBy=multi-user.target
