[Unit]
Description=PotokYou Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/PotokYou/service/PotokYou-service.sh
Environment=LD_LIBRARY_PATH=/opt/PotokYou/client/lib

[Install]
WantedBy=multi-user.target
